*{
    margin: 0;
    padding: 0;
    background: rgb(3, 3, 3);
}
.effect{
    width: 100%;
    height: 1vh;
    color: #fff;
    display: flex;
    align-items:center;
    justify-content: center;
}
.effect h1{
    font-weight: 800;
    font-size: xx-large;
}
span{
    color: orange;
}

/* Name */
#name{
    margin-top: 12%;
    color: #fff;
    width: 100%;
    height: 20vh;
    display: flex;
    align-items:center;
    justify-content: center;
}
#name:hover{
    color: brown;

}
img{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 250px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 300%;
    
}

  #rotate {
    animation: rotation 1s; 
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .linear {
    animation-timing-function: linear;
  }

  .infinite {
    animation-iteration-count: infinite;
  }

  #rotate {
    animation: rotation 10s linear infinite;
  }

/* Text Animation Glow */
  h1 {
    animation: glow 1s ease-in-out infinite 
  }

  @keyframes glow {
    from {
      text-shadow: 0 0 20px #3f33e6;
    }
    to {
      text-shadow: 0 0 30px #33ac29, 0 0 10px #12b8ca;
    }